{% extends 'bos.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog.AdullahV.az | Haqqımda</title>
</head>
<body>

    {% block body %}
    
    <div id="burahakkimda">
        <h1>Haqqımda səhifəsi</h1>
    </div>
    <div id="hakkimdadiv">
        <h1 id="hakkimdayazisi">Haqqımda</h1>
    </div>
    
    <div id="hakkimdadiv2">
        <p id="hakkimda">Mən Abdullah Vəliyev.2005-ci il yanvarın 26-sı anadan olmuşam.<!--2011-ci ildə Səttar Bəhlulzadə adına Xarici Dillər Təmayullü Gimnaziyanın 1-ci sinifinə qəbul olmuşam.Hal-Hazırda həmin məktəbin 10-cu sinifində oxuyuram.-->2020-ci il mart ayının sonlarında proqramlaşdırma ilə məşğul olmağa başlamışam və başladığımdan bəri proqramlaşdırma həyatımda mühüm rol tutub.Indiye kimi<b> HTML,CSS,JAVASCRİPT,JQUERY,PYTHON,DJANGO,SELENİUM,SQLITE3,TKINTER </b> kimi texnologiyalar oyrenmisem ve helede oyrenmeye davam edirem.Ən çox sevdiyim şeylər: Araşdırmaq,Yeni şeylər öyrənmək,Çətin problemlər həll etmək.
        </p>
        <!--<div class="genelprofil">
            <div class="profil">
                <div class="image"><img src="" alt=":("></div>
                <div class="name">Abdullah Veliyev</div>
                <div class="undername">undername text <br><br>adsfasdf: <br> 1.python <br> 2.javascript</div>
            </div>
        </div>-->
    </div>
    
    <div id="biliklerimdiv">
        <h1 id="biliklerimyazisi">Proqramlasdırma Biliklərim</h1>
    </div>
    
    <div id="coolbiliklerim">
        <div id="htmlyazisi">HTML</div>
        <div id="html"><div id="htmlic"></div></div>
        <div id="cssyazisi">CSS</div>
        <div id="css"><div id="cssic"></div></div>
        <div id="javascriptyazisi">Javascript</div>
        <div id="javascript"><div id="javascriptic"></div></div>
        <div id="pythonyazisi">Python</div>
        <div id="python"><div id="pythonic"></div></div>
        <div id="djangoyazisi">Django</div>
        <div id="django"><div id="djangoic"></div></div>
        <div id="jqueryyazisi">Jquery</div>
        <div id="jquery"><div id="jqueryic"></div></div>
        <div id="tkinteryazisi">Tkinter</div>
        <div id="tkinter"><div id="tkinteric"></div></div>
        <div id="seleniumyazisi">Selenium</div>
        <div id="selenium"><div id="seleniumic"></div></div>
        <div id="tamamla"></div>
    </div>
    <div id="maraqlananucunbloghakkinda">
        <h1>Blog Haqqında</h1>
    </div>

    <div id="bloghakkinda">
        <p>Bu blog frontend ve backend biliklerimi birləşdirmək üçün etdiyim bir layihədir.Blogda proqramlaşdırma mövzulu yazılar olacaq. <br></p>
        <ul>
            <li>Blogun frontendi:HTML,CSS,JS</li>
            <li>Blogun backendi:Python(Django)</li>
        </ul>
    </div>
    <div> <i class="fas fa-user" id="home"></i></div>

    {% endblock %}
</body>
</html>