<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog.AdullahV.az | Əlaqə</title>
</head>
<body>
{% extends 'bos.html' %}
{% block body %}
<div id="burailetisim">
    <h1>Əlaqə Səhifəsi</h1>
</div>
<div id="iletisimdiv">
    <h1 id="iletisimbilgileriyazisi">Əlaqə Vasitələri</h1>
</div>

<div id="iletisimdiv2">
    <p id="iletisimbilgileri"><i class="fas fa-envelope"></i> GMAIL:abdullahveliyev2005@gmail.com</p>
</div>
<div> <i class="fas fa-wifi" id="home"></i></div>

{% endblock %}


</body>
</html>